:root {
    --color-primary: #000080;
    --color-secondary: #e6b800;
    --color-accent: #c4b454;

    --color-success: #28a745;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-info: #17a2b8;

    --color-text: #212529;
    --color-light: #f8f9fa;
    --color-border: #ced4da;
}

.padding-top-start {
    padding-top: 250px;
}

.bg-primary {
    background-color: var(--color-primary);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
.bg-accent {
    background-color: var(--color-accent);
}

.text-primary {
    color: var(--color-primary);
}
.text-secondary {
    color: var(--color-secondary);
}
.text-accent {
    color: var(--color-accent);
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
.btn-secondary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-accent {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}
.btn-accent:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.text-success {
    color: var(--color-success);
}
.text-warning {
    color: var(--color-warning);
}
.text-danger {
    color: var(--color-danger);
}
.text-info {
    color: var(--color-info);
}

.text-text {
    color: var(--color-text);
}
.text-light {
    color: var(--color-light);
}
.text-border {
    color: var(--color-border);
}

/* @media screen and (max-width: 300px) {
    #navBar {
        justify-content: center !important;
    }

    #searchBar {
        justify-content: center !important;
    }

    #logo {
        text-align: center !important;
        justify-content: center !important;
    }

    #navbarSupportedContent {
        justify-content: end !important;
    }

    #toggler {
        justify-content: end !important;
    }
}

@media screen and (max-width: 768px) {
    #searchBar {
        justify-content: center !important;
    }

    #navBar {
        justify-content: center !important;
    }

    #logo {
        text-align: center !important;
        justify-content: center !important;
    }

    #navbarSupportedContent {
        justify-content: end !important;
    }
} */

@media screen and (max-width: 990px) {
    #searchBar {
        justify-content: center !important;
    }

    #navBar {
        justify-content: center !important;
    }

    #logo {
        text-align: center !important;
        justify-content: center !important;
    }

    #navbarSupportedContent {
        justify-content: end !important;
    }
}